<h1>All tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li class="list-unstyled"><i class="fa-solid fa-circle-check" ></i><%= link_to task.title, task_path(task) %></li>
    <% else %>
      <li class="list-unstyled"><i class="fa-regular fa-circle-check"></i><%= link_to task.title, task_path(task) %></li>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "Create a new task",  new_task_path %></p>
